body {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 30px;
}

html,
body {
  height: 100%;
  --cols: 12;
}

.page {
  width: 100%;
  display: flex;
  align-items: center;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 900px) {
  body {
    --cols: 9;
  }
}

@media only screen and (max-width: 450px) {
  body {
    --cols: 1;
  }
}

mat-card {
  padding: 24px;
}

.grid {
  display: grid;
  column-gap: 10px;
  row-gap: 24px;
  justify-items: stretch;
  width: 100%;
  grid-template-columns: repeat(var(--cols), 56px);
  [mat-cell='3'] {
    grid-column: span 3;
  }
  [mat-cell='9'] {
    grid-column: span 9;
  }
}
