body {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 30px;
}

table {
  width: 100%;
  margin: 24px 0;
  border: 1px solid red;
}

html,
body {
  height: 100%;
}

.page {
  width: 100%;
  display: flex;
  align-items: center;
  align-items: center;
  justify-content: center;
}

@media only screen and (min-width: 1440px) {
  body {
    --cols: 24;
  }
}

@media only screen and (max-width: 1440px) and (min-width: 1280px) {
  body {
    --cols: 16;
  }
}

@media only screen and (max-width: 1280px) and (min-width: 900px) {
  body {
    --cols: 12;
  }
}

@media only screen and (max-width: 900px) and (min-width: 450px) {
  body {
    --cols: 9;
  }
}

@media only screen and (max-width: 450px) and (min-width: 1px) {
  body {
    --cols: 1;
  }
}

mat-card {
  padding: 24px;
}

.grid {
  display: grid;
  column-gap: 10px;
  row-gap: 24px;
  justify-items: stretch;
  width: 100%;
  grid-template-columns: repeat(var(--cols), 56px);
  @for $i from 1 to 16 {
    .cell-#{$i} {
      grid-column: span #{$i};
      @media only screen and (max-width: 450px) and (min-width: 1px) {
        grid-column: 1fr;
      }
    }
  }
}
